<ion-view style="" class=" " id="page3" title="Perfil">
    <ion-content class="has-header" padding="false" scroll="false">
    <div class="list card">            
            <div class="item item-image padding">
                <img id="profile-image" ng-src="{{user.gravatar}}" />
            </div>
            <div class="item">
                Nombre:
                <p>{{user.displayName}}</p>
            </div>
            <div class="item">
                Email:
                <p>{{user.email}}</p>
            </div>
        </div>  
        <div class="bar bar-footer bar-clear">
          <button class="button button-clear button-positive button-small button-block icon-left ion-log-out " ng-click="logOut()">Cerrar sesión</button>
          <div class="screenSpacer"></div>
        </div>  
            
</ion-content>
</ion-view>