``<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu style="background-color:#FFFFFF;" side="right" id="side-menu21">
        <ion-header-bar class="bar-balanced">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-right has-header">
            <ion-list class=" " id="menu-null">
                <ion-item style="" menu-close="" ui-sref="menu.promOff" id="menu-list-item1" class="item-icon-left balanced  ">
                    <i class="icon ion-star"></i>PromOff</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.tienda" id="menu-list-item2" class="item-icon-left balanced  ">
                    <i class="icon ion-android-cart"></i>Tienda</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.perfil" id="menu-list-item3" class="item-icon-left balanced  ">
                    <i class="icon ion-ios-contact"></i>Perfil</ion-item>
            </ion-list>
            <div style="width: 248px; height: 237px;" class="spacer"></div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>